body {
    background-image: url("/images/tooth_tile_2.jpg");
    background-repeat: repeat;
}
h3 {
    color: #119ca1;
    font-size: 2.5rem;
}
#inputVideo {
    height: 250px;
}
#overlay {
    position: absolute;
    height: 250px;
}
.page_list_item {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
}

#session_asset {
    margin-top: -70px;
    margin-left: 125px;
    width: 220px;
    opacity: 0.3;
}#login_asset {
    margin-top: 80px;
    margin-left: -100px;
    width: 300px;
    opacity: 0.3;
}
.enter_shadow {
    box-shadow: 0px 0px 29px #888;
    border-radius: 35px;
    margin: 20px 0px 10px 0px;
}
#collection_content {
    text-align: center;
}
#research_container {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom left, rgba(255,255,255,0), rgba(255,255,255,1));
}
#enter_query_container {
    padding-top: 45px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom left, rgba(255,255,255,0), rgba(255,255,255,1));
}
#stop_session, #submit_button, #user_name_submit {
    background: #33b38e;
    border-color: #33b38e;
    margin-top: 15px;
    width: 100%;
    color: white;
}
.history_title {
    width: 100%;
}
.history_url {
    width: 100%;
    font-size: 8px;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}
.keyword_list_item   {
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
    background-color: white;
}
#overlay_bg {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}   
#relevant_overlay_content    {
    background-color: white;
    margin-top: 45px;
    display: none;
}
#distracted_overlay_content, #away_from_computer_overlay_content, #relevant_overlay_content {
    margin-top: 45px;
    padding-top: 35px;
    min-height: 350px;
    display: none;
    background-color: white;
}
#add_pages_visited  {
    background-color: white;
}

.mytooltip {
    position: relative;
    display: inline-bloc;
}

.mytooltip .mytooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #33b38e;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 170%;
    left: 50%; 
    margin-left: -70px;
    opacity: 0;
    transition: opacity 1s;
}

.mytooltip:hover .mytooltiptext {
    visibility: visible;
    opacity: 1;
}

.mytooltip .mytooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #33b38e transparent transparent transparent;
}
