h3 {
    color: #119ca1;
    font-size: 1.1rem;
}
#inputVideo {
    height: 300px;
}
#overlay {
    position: absolute;
    height: 300px;
}
.page_list_item {
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
}
.make_transitional_button {
    margin-top: -20px;
    position: relative;
    background-color: #ffeeba;
    float: right;
    margin-right: 75px;
    font-size: 10px;
}            
.make_relevant_button {
    margin-top: -20px;
    position: relative;
    background-color: #ffeeba;
    float: right;
    margin-right: 0px;
    font-size: 10px;
}
#login_asset {
    margin-top: 80px;
    margin-left: -100px;
    width: 300px;
}
.enter_shadow {
    box-shadow: 0px 0px 29px #888;
}
#collection_content {
    text-align: center;
}
#enter_query_container {
    width: 100%;
    background-image: linear-gradient(to bottom right, white, #c9c6ec);
}
#submit_button {
    background-image: linear-gradient(to bottom right, #33b38e, #0393aa);
    margin-top: 35px;
    width: 100%;
}
