body {
    font-family: "Roboto";
    background-image: url("tooth_tile_2.jpg");
    background-repeat: repeat;
}
h3 {
    color: #119ca1;
    font-size: 2.5rem;
    font-family: "Bree Serif";
}
#inputVideo {
    height: 250px;
}
#overlay {
    position: absolute;
    height: 250px;
}
.page_list_item {
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
}
.make_transitional_button {
    margin-top: -20px;
    position: relative;
    background-color: #ffeeba;
    border-color: #ffeeba;
    float: right;
    margin-right: 75px;
    font-size: 10px;
}            
.make_relevant_button {
    margin-top: -20px;
    position: relative;
    background-color: #ffeeba;
    border-color: #ffeeba;
    float: right;
    margin-right: 0px;
    font-size: 10px;
}
#session_asset {
    margin-top: -70px;
    margin-left: 125px;
    width: 220px;
    opacity: 0.3;
}#login_asset {
    margin-top: 80px;
    margin-left: -100px;
    width: 300px;
    opacity: 0.3;
}
.enter_shadow {
    box-shadow: 0px 0px 29px #888;
    border-radius: 35px;
    margin: 20px 0px 10px 0px;
}
#collection_content {
    text-align: center;
}
#research_container {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom left, rgba(255,255,255,0), rgba(255,255,255,1));
}
#enter_query_container {
    padding-top: 45px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom left, rgba(255,255,255,0), rgba(255,255,255,1));
}
#stop_session, #submit_button, #user_name_submit {
    background: #33b38e;
    border-color: #33b38e;
    margin-top: 35px;
    width: 100%;
    color: white;
}
.history_title {
    width: 100%;
}
.history_url {
    width: 100%;
    font-size: 8px;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}
.keyword_list_item   {
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
    background-color: white;
}
#overlay_bg {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}   
#relevant_overlay_content    {
    background-color: white;
    margin-top: 45px;
    display: none;
}
#distracted_overlay_content    {
    margin-top: 45px;
    padding-top: 35px;
    min-height: 350px;
    display: none;
    background-color: white;
}
#add_pages_visited  {
    background-color: white;
}
